<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <script>
        function openModal(id) {
            console.log("Opening modal for entry with ID: " + id);  // Debug log
            document.getElementById('journalId').value = id;
            document.getElementById('confirmModal').classList.remove('hidden');
            console.log("Modal should now be visible");
        }

        function closeModal() {
            console.log("Closing modal");  // Debug log
            document.getElementById('confirmModal').classList.add('hidden');
        }
    </script>
</head>

<body class=" font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div
        class="w-64 bg-background rounded-xl shadow-2xl text-textPrimary p-4 flex flex-col items-center sidebar m-4 h-[90vh]">


        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>



        <!-- Buttons Section -->
        <div class="space-y-4 w-full flex flex-col items-center">
            <!-- Dashboard -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="home" class="w-5 h-5"></i> Inicio
                </button>
            </a>

            <!-- Journal -->
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="book-open" class="w-5 h-5"></i> Diario
                </button>
            </a>

            <!-- Revision -->
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="refresh-cw" class="w-5 h-5"></i> Revisión
                </button>
            </a>

            <!-- Inner Work -->
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="brain" class="w-5 h-5"></i> Trabajo Interno
                </button>
            </a>

            <!-- Stats -->
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="bar-chart-2" class="w-5 h-5"></i> Estadísticas
                </button>
            </a>

            <!-- Meditation -->
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="moon" class="w-5 h-5"></i> Meditación
                </button>
            </a>

            <!-- About -->
            <a href="/about" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-accent rounded-md transition-colors duration-300 hover:button-accent select-none">
                    <i data-lucide="info" class="w-5 h-5"></i> Sobre Topaz
                </button>
            </a>
        </div>
    </div>


    <!-- Main content -->
    <div class="main-content  flex-grow bg-background p-6 select-none">
        <main class="container mx-auto mt-6 p-4">
            <h1 data-aos="zoom-in" class="text-3xl font-bold mb-4 text-textPrimary">Sobre Topaz</h1>

            <div class="bg-surface p-6 rounded-xl shadow-md" data-aos="fade-up">
                <p class="text-lg font-bold text-accent">Desarrollado por Sean Leitch / Selekode</p>
                <p class="text-xl mb-4 text-accent">Versión 25.09</p>

                <p class="text-base mb-4 text-textPrimary">
                    Topaz es una aplicación creada para ayudarte a registrar tus pensamientos, emociones y objetivos
                    personales de forma sencilla.
                    Su desarrollo se basa en principios científicos respaldados por evidencia empírica, con el propósito
                    de fortalecer el bienestar
                    emocional y psicológico de quienes la utilizan.
                </p>

                <p class="text-base mb-4 text-textPrimary">
                    A través de las entradas de diario y las revisiones emocionales, puedes reflexionar sobre tu día, hacer introspección y hacer un seguimiento de tu estado emocional.
                </p>

                <p class="text-base mb-4 text-textPrimary">
                    La función de Trabajo Interno te invita a escribir ensayos en los
                    que exploras las áreas de tu vida
                    o de tu personalidad en las que estás trabajando, ayudándote a profundizar en tus experiencias,
                    valores y creencias, y a ganar
                    mayor claridad y equilibrio emocional.
                </p>

                <p class="text-base mb-4 text-textPrimary">
                    Además, Topaz ofrece estadísticas que analizan tus entradas de diario, revelando patrones en tus
                    emociones y productividad.
                    Esto te brinda una mejor comprensión de tu progreso y te ayuda a tomar decisiones informadas para tu
                    crecimiento personal.
                </p>

                <p class="text-base mb-4 text-textPrimary">
                    Finalmente, Topaz incluye una función de meditación con temporizador ajustable, pensada para que
                    encuentres momentos de calma
                    y concentración a lo largo del día.
                </p>

            </div>
    </div>
    </main>
    </div>

    </div>
    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>