<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
</head>

<body class=" font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div class="w-64 bg-[#1E3D48] text-white p-4 flex flex-col items-center sidebar">
        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>

        <!-- Horizontal Rule -->
        <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">

        <!-- Buttons Section -->
        <div class="space-y-4 w-full flex flex-col items-center">
            <!-- Rounded buttons for other actions -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#1A8F9A] rounded-full transition-colors duration-300 hover:bg-[#23A3BB] select-none">
                    Inicio
                </button>
            </a>
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Diario
                </button>
            </a>
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Revisión
                </button>
            </a>
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Trabajo Interno
                </button>
            </a>			
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Estadísticas
                </button>
            </a>
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Meditación
                </button>
            </a>
            <a href="/about" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Sobre Topaz
                </button>
            </a>

            <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">

        </div>
    </div>


    <!-- Main content -->
    <div class="main-content  flex-grow bg-[#0F2529] p-6 select-none">
        <main class="container mx-auto mt-6 p-4">
            <h1 data-aos="zoom-in" class="text-2xl font-bold mb-4 text-white">Inicio</h1>

            <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4" data-aos="fade-up">
                <p class="text-lg font-bold mb-4 text-[#23A3BB]">¡Bienvenido a Topaz!</p>
                <p class="text-base mb-4 text-white mb-4">Sigue avanzando en tu viaje de desarollo personal. Aquí
                    encontrarás tu racha actual, insights de tus entradas pasadas y recordatorios para seguir
                    escribiendo. ¡Sigue creciendo poco a poco, con constancia!</p>
            </div>

            <div class="flex justify-center">
                <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4 mx-2 flex-1">
                    <p class="text-lg font-bold mb-4 text-[#fff]">Cosas que podrías hacer</p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['Journal'].strIsWrittenToday}"></p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['Revision'].strIsWrittenToday}"></p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['InnerWork'].strIsWrittenToday}"></p>
                </div>

                <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4 mx-2 flex-1">
                    <p class="text-lg font-bold mb-4 text-[#fff]">Racha actual en diario</p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['Journal'].strCurrentStreak}"></p>
                </div>

                <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4 mx-2 flex-1">
                    <p class="text-lg font-bold mb-4 text-[#fff]">Racha actual de revisiones</p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['Revision'].strCurrentStreak}"></p>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4 mx-2 flex-1">
                    <p class="text-lg font-bold mb-4 text-[#fff]">Racha más larga en diario</p>
                    <p class="text-base mb-4 text-white" th:text="${dashboardDataMap['Journal'].strLongestStreak}"></p>
                </div>

                <div class="bg-[#172E38] p-6 rounded-2xl shadow-xl mb-4 mx-2 flex-1">
                    <p class="text-lg font-bold mb-4 text-[#fff]">Racha más larga de revisiones</p>
                    <p class="text-base text-white" th:text="${dashboardDataMap['Revision'].strLongestStreak}"></p>
                </div>
            </div>
    </div>
    </main>
    </div>

    </div>
    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
</body>

</html>