<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body class=" font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div class="w-64 bg-background rounded-xl shadow-2xl text-textPrimary p-4 flex flex-col items-center sidebar m-4 h-[90vh]">


        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>

        

        <div class="space-y-4 w-full flex flex-col items-center">

            <!-- Rounded buttons for other actions -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Inicio
                </button>
            </a>
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Diario
                </button>
            </a>
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Revisión
                </button>
            </a>
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-accent rounded-md transition-colors duration-300 hover:button-accent ">
                    Trabajo Interno
                </button>
            </a>
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Estadísticas
                </button>
            </a>
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Meditación
                </button>
            </a>
            <a href="/about" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 button-sidebar  rounded-md transition-colors duration-300 select-none">
                    Sobre Topaz
                </button>
            </a>

            
        </div>
    </div>

    <!-- Main content -->
    <div class="flex-grow bg-background p-6 main-content">
        <main class="container mx-auto mt-6 p-4">
            <h1 class="text-3xl font-bold mb-4 text-textPrimary selected-none">Trabajo Interno</h1>

            <div data-aos="fade-left" class="bg-surface p-6 rounded-xl shadow-md flex flex-col justify-between">
                <div class="mb-4 relative flex justify-center items-center">
                    <a href="/innerwork/load"
                        class="absolute left-0 text-textPrimary button-accent  transition-colors duration-300 hover:button-secondary-bg py-2 px-4 rounded-md select-none">
                        Atrás
                    </a>
                    <h2 class="text-xl text-textPrimary font-bold select-none">
                        Añadir Trabajo Interno
                    </h2>
                </div>


                <!-- Form to handle the journal entry -->
                <form id="addInnerWorkForm" action="#" method="POST" th:action="@{/innerwork/saveEntry}"
                    th:object="${innerWorkEntry}">
                    <input type="text" name="title" id="title"
                        class="text-xl font-bold mb-4 w-full bg-background text-textPrimary p-2 rounded-lg"
                        placeholder="Título" th:value="${innerWorkEntry.title}" />

                    <label for="contentGeneral" class="text-accent mb-4">Contenido</label>
                    <textarea name="contentGeneral" id="contentGeneral"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-textPrimary mb-4"
                        th:field="${innerWorkEntry.content}"
                        placeholder="¿Qué has trabajo interior has realizado?"></textarea>

                    <label for="tagSelect" class="text-accent mb-4">Etiqueta</label>
                    <br>
                    <select id="tagSelect" th:field="*{tagID}">
                        <option value="" disabled selected>Selecciona etiqueta</option>
                        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">
                        </option>
                    </select>
                    <input type="hidden" th:field="*{id}" value="2" />
                    <input type="hidden" th:field="*{id}" value="2" />
                    <input type="hidden" th:field="*{date}" value="2" />



                    <div class="mt-4 flex justify-between item">
                        <a href="/innerwork/tags/addTag"
                            class="text-textPrimary button-accent  transition-colors duration-300 hover:button-secondary-bg py-2 px-4 rounded-md select-none">
                            Añadir Etiqueta
                        </a>
                        <button type="submit" id="saveButton"
                            class="ml-auto text-textPrimary button-accent  transition-colors duration-300 hover:button-secondary-bg py-2 px-4 rounded-md select-none">Guardar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
</body>

</html>