<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
</head>

<body class=" font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div class="w-64 bg-[#1E3D48] text-white p-4 flex flex-col items-center sidebar">
        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>

        <!-- Horizontal Rule -->
        <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">

        <!-- Buttons Section -->
        <div class="space-y-4 w-full flex flex-col items-center">
            <!-- Rounded buttons for other actions -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Inicio
                </button>
            </a>
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Diario
                </button>
            </a>
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Revisión
                </button>
            </a>
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#1A8F9A] rounded-full transition-colors duration-300 hover:bg-[#23A3BB]">
                    Trabajo Interno
                </button>
            </a>
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Estadísticas
                </button>
            </a>
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Meditación
                </button>
            </a>
            <a href="/about" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">
                    Sobre Topaz
                </button>
            </a>

            <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">
        </div>
    </div>


    <!-- Main content -->
    <div class="main-content  flex-grow bg-[#0F2529] p-6">
        <main class="container mx-auto mt-6 p-4">
            <h1 data-aos="zoom-in" class="text-2xl font-bold mb-4 text-white selected-none">Trabajo Interno</h1>
            <div class="flex justify-between items-center mt-4 mb-4">
                <a href="/innerwork/tags/load" class="text-sm text-teal-600 font-medium hover:underline">
                    <button
                        class="ml-auto text-white bg-[#23A3BB] transition-colors duration-300 hover:bg-[#1A8F9A] py-2 px-4 rounded-full select-none">Etiquetas</button>
                </a>
                <a href="/innerwork/addEntry" class="text-sm text-teal-600 font-medium hover:underline">
                    <button
                        class="ml-auto text-white bg-[#23A3BB] transition-colors duration-300 hover:bg-[#1A8F9A] py-2 px-4 rounded-full select-none">Añadir</button>
                </a>
            </div>
            <!-- Iterate over inner work entries -->
            <div data-aos="fade-up" th:each="innerWorkEntry : ${innerWorkEntries}" x-data="{ open: false }"
                class="relative bg-[#172E38] p-6 rounded-2xl shadow-xl mb-6">
                <!-- Buttons Positioned in the Top Right -->
                <div class="absolute top-4 right-4 flex space-x-2">
                    <!-- Show/Hide Button -->
                    <button @click="open = !open"
                        class="px-4 py-2 rounded-full bg-[#23A3BB] text-white text-sm transition hover:bg-[#1A8F9A]">
                        <span x-text="open ? 'Ocultar' : 'Mostrar'"></span>
                    </button>

                    <!-- Edit button -->
                    <a th:href="@{/innerwork/editEntry/{id}(id=${innerWorkEntry.id})}"
                        class="px-4 py-2 rounded-full bg-[#23A3BB] text-white text-sm transition hover:bg-[#1A8F9A]">
                        Editar
                    </a>

                    <!-- Delete button -->
                    <button th:attr="onclick='openModal(' + ${innerWorkEntry.id} + ')'"
                        class="px-4 py-2 rounded-full bg-[#E74C3C] text-white text-sm transition hover:bg-[#D63C2D]">
                        Eliminar
                    </button>
                </div>

                <!-- Inner Work Entry Content -->
                <div class="mr-4">
                    <p class="text-lg  font-bold mb-4 text-[#23A3BB]" th:text="${innerWorkEntry.date}">
                    </p>

                    <!-- Show the tag name by matching tag.id == innerWorkEntry.tagID -->
                    <div th:each="innerWorkEntry : ${innerWorkEntries}">
                        <p class="text-l mb-4 text-[#23A3BB]" th:text="${tagMap[innerWorkEntry.tagID]}">Etiqueta</p>
                    </div>
                    <h2 class="text-2xl font-bold mb-4 text-white" th:text="${innerWorkEntry.title}"></h2>

                    <!-- Content to Show/Hide -->
                    <div x-show="open" x-collapse>
                        <p class="text-base mb-4 text-white" th:text="${innerWorkEntry.content}"></p>
                    </div>
                </div>
            </div>


            <!-- Modal HTML -->
            <div id="confirmModal"
                class="modal hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
                <div class="modal-content rounded-lg p-6">
                    <h3 class="text-lg text-justify text-white font-bold mb-4 select-none">¿Seguro que quieres eliminar
                        esta entrada de trabajo interno?</h3>
                    <form id="deleteForm" method="post" action="deleteEntry">
                        <input type="hidden" id="journalId" name="id" />
                        <button type="submit"
                            class="w-28 h-10 bg-[#23A3BB] text-white rounded-full transition-colors duration-300 hover:bg-[#1A8F9A] select-none">Si,
                            Eliminar</button>
                        <button type="button"
                            class="ml-4 w-28 h-10 bg-gray-500 text-white rounded-full transition-colors duration-300 hover:bg-gray-600 select-none"
                            onclick="closeModal()">Cancelar</button>
                    </form>
                </div>
            </div>

        </main>
    </div>
    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
</body>

</html>