<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <script>
        window.onload = function () {
            // const dateInput = document.getElementById('title');
            // const currentDate = new Date();
            // const options = { day: '2-digit', month: 'short', year: 'numeric' };
            // dateInput.placeholder = currentDate.toLocaleDateString('es-ES', options).replace(/ /g, '-');

            const saveButton = document.getElementById('saveButton');
            const modal = document.getElementById('saveModal');
            const closeModal = document.getElementById('closeModal');
            const form = document.getElementById('journalForm');
        };
    </script>
</head>

<body class="bg-[#0F2529] font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div class="w-64 bg-[#1E3D48] text-white p-4 flex flex-col items-center sidebar">
        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>

        <!-- Horizontal Rule -->
        <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">

        <div class="space-y-4 w-full flex flex-col items-center">
            <!-- Rounded buttons for other actions -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Inicio
                </button>
            </a>
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#1A8F9A] rounded-full transition-colors duration-300 hover:bg-[#23A3BB]">
                    Diario
                </button>
            </a>
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Revisión
                </button>
            </a>
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Estadísticas
                </button>
            </a>
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Trabajo Interno
                </button>
            </a>
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Meditación
                </button>
            </a>
            <a href="/about" class="block w-full">
                <button
                    class="w-full text-left py-2 px-4 bg-[#23A3BB] rounded-full transition-colors duration-300 hover:bg-[#1A8F9A]">
                    Sobre Topaz
                </button>
            </a>

            <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-6">

        </div>
    </div>

    <!-- Main content -->
    <div class="flex-grow bg-[#0F2529] p-6 main-content">
        <main class="container mx-auto mt-6 p-4">
            <h1 class="text-2xl font-bold mb-4 text-white">Diario</h1>

            <div data-aos="fade-left" class="bg-[#172E38] p-6 rounded-2xl shadow-xl flex flex-col justify-between">
                <div class="mb-4 flex items-center justify-between">
                    <a href="/journal/load"
                        class="text-white bg-[#23A3BB] transition-colors duration-300 hover:bg-[#1A8F9A] py-2 px-4 rounded-full select-none">Atrás</a>
                    <h2 class="text-xl text-white font-bold select-none">Editar Entrada al Diario</h2>
                </div>

                <hr class="w-full border-t-[1px] border-[#1A8F9A] mb-4 mt-4">


                <!-- Form to handle the journal entry -->
                <form id="journalForm" action="#" method="POST"
                    th:action="@{/journal/updateEntry/{id}(id=${journalEntry.id})}" th:object="${journalEntry}">
                    <input type="text" name="title" id="title"
                        class="text-xl font-bold mb-4 w-full bg-[#0F2529] text-white p-2 rounded-lg" placeholder="Title"
                        th:value="${journalEntry.title}" />

                    <label for="contentGeneral" class="text-[#23A3BB] mb-4">General</label>
                    <textarea name="contentGeneral" id="contentGeneral"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentGeneral}" placeholder="¿Qué has hecho hoy?"></textarea>

                    <label for="contentSaludFisica" class="text-[#23A3BB] mb-4">Salud Física</label>
                    <textarea name="contentSaludFisica" id="contentSaludFisica"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentSaludFisica}" placeholder="Hoy he ido al gimnasio..."></textarea>

                    <label for="contentBienestarMental" class="text-[#23A3BB] mb-4">Bienestar Mental</label>
                    <textarea name="contentBienestarMental" id="contentBienestarMental"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentBienestarMental}" placeholder="Hoy he meditado..."></textarea>

                    <label for="contentRelacionesSociales" class="text-[#23A3BB] mb-4">Relaciones Sociales</label>
                    <textarea name="contentRelacionesSociales" id="contentRelacionesSociales"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentRelacionesSociales}"
                        placeholder="Hoy he pasado tiempo con mi familia y amigos..."></textarea>

                    <label for="contentCarreraProfesional" class="text-[#23A3BB] mb-4">Carrera Profesional</label>
                    <textarea name="contentCarreraProfesional" id="contentCarreraProfesional"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentCarreraProfesional}"
                        placeholder="Hoy he trabajado en..."></textarea>

                    <label for="contentEstabilidadFinanciera" class="text-[#23A3BB] mb-4">Estabilidad Financiera</label>
                    <textarea name="contentEstabilidadFinanciera" id="contentEstabilidadFinanciera"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentEstabilidadFinanciera}"
                        placeholder="Hoy he ganado...Hoy he gastado..."></textarea>

                    <label for="contentCrecimientoPersonal" class="text-[#23A3BB] mb-4">Crecimiento Personal</label>
                    <textarea name="contentCrecimientoPersonal" id="contentCrecimientoPersonal"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentCrecimientoPersonal}" placeholder="Hoy he leido..."></textarea>

                    <label for="contentPasatiemposCreatividad" class="text-[#23A3BB] mb-4">Pasatiempos y
                        Creatividad</label>
                    <textarea name="contentPasatiemposCreatividad" id="contentPasatiemposCreatividad"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentPasatiemposCreatividad}"
                        placeholder="Hoy he hecho música...Hoy he dibujado..."></textarea>

                    <label for="contentEspiritualidadProposito" class="text-[#23A3BB] mb-4">Espiritualidad y
                        Propósito</label>
                    <textarea name="contentEspiritualidadProposito" id="contentEspiritualidadProposito"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentEspiritualidadProposito}"
                        placeholder="Hoy he reflexionado sobre..."></textarea>

                    <label for="contentRecreacionDiversion" class="text-[#23A3BB] mb-4">Recreación y Diversión</label>
                    <textarea name="contentRecreacionDiversion" id="contentRecreacionDiversion"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentRecreacionDiversion}"
                        placeholder="Hoy he jugado a..."></textarea>

                    <label for="contentContribucionLegado" class="text-[#23A3BB] mb-4">Contribución y Legado</label>
                    <textarea name="contentContribucionLegado" id="contentContribucionLegado"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentContribucionLegado}"
                        placeholder="Hoy he ayudado a...Hoy he enseñado a..."></textarea>

                    <label for="contentErroresCometidos" class="text-[#23A3BB] mb-4">Errores Cometidos</label>
                    <textarea name="contentErroresCometidos" id="contentErroresCometidos"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-[#0F2529] text-white mb-4"
                        th:text="${journalEntry.contentErroresCometidos}" placeholder="Hoy he hecho mal..."></textarea>

                    <div class="mt-4 flex item">
                        <button type="submit" id="saveButton"
                            class="ml-auto text-white bg-[#23A3BB] transition-colors duration-300 hover:bg-[#1A8F9A] py-2 px-4 rounded-full select-none">Editar</button>
                    </div>

                </form>
            </div>
        </main>
    </div>

    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
</body>

</html>