<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class=" font-sans leading-normal tracking-normal flex min-h-screen">

    <!-- Sidebar -->
    <div
        class="w-64 bg-background rounded-xl shadow-2xl text-textPrimary p-4 flex flex-col items-center sidebar m-4 h-[90vh]">


        <!-- Logo Section -->
        <div class="flex items-center mb-6 mt-2 flex-col">
            <img th:src="@{/images/topaz-logo-text.svg}" alt="Logo" class="w-[120px] select-none">
        </div>



        <div class="space-y-4 w-full flex flex-col items-center">

            <!-- Dashboard -->
            <a href="/dashboard/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="home" class="w-5 h-5"></i> Inicio
                </button>
            </a>

            <!-- Journal -->
            <a href="/journal/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-accent rounded-md transition-colors duration-300 hover:button-accent select-none">
                    <i data-lucide="book-open" class="w-5 h-5"></i> Diario
                </button>
            </a>

            <!-- Revision -->
            <a href="/revision/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="refresh-cw" class="w-5 h-5"></i> Revisión
                </button>
            </a>

            <!-- Inner Work -->
            <a href="/innerwork/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="brain" class="w-5 h-5"></i> Trabajo Interno
                </button>
            </a>

            <!-- Stats -->
            <a href="/stats/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="bar-chart-2" class="w-5 h-5"></i> Estadísticas
                </button>
            </a>

            <!-- Meditation -->
            <a href="/meditacion/load" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="moon" class="w-5 h-5"></i> Meditación
                </button>
            </a>

            <!-- About -->
            <a href="/about" class="block w-full">
                <button
                    class="w-full flex items-center gap-2 text-left py-2 px-4 button-sidebar rounded-md transition-colors duration-300 select-none">
                    <i data-lucide="info" class="w-5 h-5"></i> Sobre Topaz
                </button>
            </a>
        </div>
    </div>

    <!-- Main content -->
    <div class="flex-grow bg-background p-6 main-content">
        <main class="container mx-auto mt-6 p-4">
            <h1 class="text-3xl mb-2 font-bold text-textPrimary">Diario</h1>
            <p class="text-base mb-4">En las entradas de diario hablamos sobre <i>el qué pasó</i>, los hechos</p>

            <div data-aos="fade-left" class="bg-surface p-6 rounded-xl shadow-md flex flex-col justify-between">
                <div class="mb-4 relative flex justify-center items-center">
                    <a href="/journal/load"
                        class="absolute left-0 text-textPrimary button-accent transition-colors duration-300 hover:button-secondary-bg py-2 px-3 rounded-md select-none flex items-center justify-center">
                        <i data-lucide="arrow-big-left" class="w-4 h-4"></i>
                    </a>
                    <h2 class="text-xl text-accent font-bold select-none">
                        Añadir Entrada al Diario
                    </h2>
                </div>

                <!-- Form to handle the journal entry -->
                <form id="journalForm" action="#" method="POST" th:action="@{/journal/saveEntry}"
                    th:object="${journalEntry}">

                    <!-- Title -->
                    <input type="text" name="title" id="title"
                        class="text-2xl font-bold mb-6 w-full bg-background text-textPrimary p-3 rounded-lg"
                        placeholder="Título" th:value="${journalEntry.title}" />

                    <!-- General -->
                    <label for="contentGeneral" class="text-accent text-lg font-semibold mb-2 block">General</label>
                    <textarea name="contentGeneral" id="contentGeneral"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentGeneral}" placeholder="Escribe un resumen general de lo que ha pasado hoy"></textarea>

                    <!-- Errores Cometidos -->
                    <label for="contentErroresCometidos" class="text-accent text-lg font-semibold mb-2 block">Errores
                        Cometidos</label>
                    <textarea name="contentErroresCometidos" id="contentErroresCometidos"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentErroresCometidos}" placeholder="Escribe los errores que has cometido y el aprendizaje que te llevas de ellos"></textarea>

                    <!-- Salud Física -->
                    <label for="contentSaludFisica" class="text-accent text-lg font-semibold mb-2 block">Salud
                        Física</label>
                    <textarea name="contentSaludFisica" id="contentSaludFisica"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentSaludFisica}"
                        placeholder="Escribe sobre temas como tu sueño, nutrición, deporte, consumo de tóxicos, etc"></textarea>

                    <!-- Bienestar Mental -->
                    <label for="contentBienestarMental" class="text-accent text-lg font-semibold mb-2 block">Bienestar
                        Mental</label>
                    <textarea name="contentBienestarMental" id="contentBienestarMental"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentBienestarMental}" placeholder="Escribe sobre lo que has hecho para tu bienestar mental, como ir a terapia, meditar, limitar el uso de pantallas, etc"></textarea>

                    <!-- Relaciones Sociales -->
                    <label for="contentRelacionesSociales"
                        class="text-accent text-lg font-semibold mb-2 block">Relaciones Sociales</label>
                    <textarea name="contentRelacionesSociales" id="contentRelacionesSociales"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentRelacionesSociales}"
                        placeholder="Escribe sobre lo que has hecho con tu familia, amigos, pareja, etc"></textarea>

                    <!-- Carrera Profesional -->
                    <label for="contentCarreraProfesional" class="text-accent text-lg font-semibold mb-2 block">Carrera
                        Profesional</label>
                    <textarea name="contentCarreraProfesional" id="contentCarreraProfesional"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentCarreraProfesional}"
                        placeholder="Escribe sobre las cosas en las que has trabajado hoy, lo que has hecho para tu trayectoria profesional, etc"></textarea>

                    <!-- Estabilidad Financiera -->
                    <label for="contentEstabilidadFinanciera"
                        class="text-accent text-lg font-semibold mb-2 block">Estabilidad Financiera</label>
                    <textarea name="contentEstabilidadFinanciera" id="contentEstabilidadFinanciera"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentEstabilidadFinanciera}"
                        placeholder="Escribe sobre tus ingresos, gastos, ahorros, inversiones, etc"></textarea>

                    <!-- Crecimiento Personal -->
                    <label for="contentCrecimientoPersonal"
                        class="text-accent text-lg font-semibold mb-2 block">Crecimiento Personal</label>
                    <textarea name="contentCrecimientoPersonal" id="contentCrecimientoPersonal"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentCrecimientoPersonal}" placeholder="Escribe sobre tus aprendizajes, nuevas habilidades y momentos de autoconocimiento para crecer como persona"></textarea>

                    <!-- Pasatiempos y Creatividad -->
                    <label for="contentPasatiemposCreatividad"
                        class="text-accent text-lg font-semibold mb-2 block">Pasatiempos y Creatividad</label>
                    <textarea name="contentPasatiemposCreatividad" id="contentPasatiemposCreatividad"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentPasatiemposCreatividad}"
                        placeholder="Escribe sobre los hobbies que has practicado"></textarea>

                    <!-- Espiritualidad y Propósito -->
                    <label for="contentEspiritualidadProposito"
                        class="text-accent text-lg font-semibold mb-2 block">Espiritualidad y Propósito</label>
                    <textarea name="contentEspiritualidadProposito" id="contentEspiritualidadProposito"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentEspiritualidadProposito}"
                        placeholder="Reflexiona sobre tus valores, cultiva gratitud y conéctate con algo más grande para encontrar propósito"></textarea>

                    <!-- Recreación y Diversión -->
                    <label for="contentRecreacionDiversion"
                        class="text-accent text-lg font-semibold mb-2 block">Recreación y Diversión</label>
                    <textarea name="contentRecreacionDiversion" id="contentRecreacionDiversion"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentRecreacionDiversion}"
                        placeholder="Escribe sobre lo que has hecho para tu entretenimiento / recreación hoy"></textarea>

                    <!-- Contribución y Legado -->
                    <label for="contentContribucionLegado"
                        class="text-accent text-lg font-semibold mb-2 block">Contribución y Legado</label>
                    <textarea name="contentContribucionLegado" id="contentContribucionLegado"
                        class="w-full h-[150px] resize-y p-4 rounded-lg bg-background text-base text-textPrimary mb-6"
                        th:value="${journalEntry.contentContribucionLegado}"
                        placeholder="Escribe sobre como has contribuido al mundo"></textarea>

                    <!-- Hidden fields -->
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{date}" />

                    <!-- Submit button -->
                    <div class="mt-6 flex">
                        <button type="submit" id="saveButton"
                            class="ml-auto text-textPrimary button-accent transition-colors duration-300 hover:button-secondary-bg py-2 px-3 rounded-md select-none flex items-center justify-center">
                            <i data-lucide="save" class="w-4 h-4"></i>
                            &nbsp;&nbsp;Guardar
                        </button>

                    </div>
                </form>

            </div>
        </main>
    </div>

    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>