<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topaz</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <script>
        function openModal(id) {
            console.log("Opening modal for entry with ID: " + id);  // Debug log
            document.getElementById('journalId').value = id;
            document.getElementById('confirmModal').classList.remove('hidden');
            console.log("Modal should now be visible");
        }

        function closeModal() {
            console.log("Closing modal");  // Debug log
            document.getElementById('confirmModal').classList.add('hidden');
        }
    </script>
</head>

<body class="font-sans leading-normal tracking-normal flex items-center justify-center min-h-screen bg-background">
    <div class="bg-surface p-6 rounded-xl shadow-md w-full max-w-md" data-aos="fade-up">
        <h1 class="text-2xl font-bold mb-6 text-textPrimary text-center">Bienvenido a Topaz</h1>
        <h2 class="text-l font-bold mb-6 text-accent text-center">Registrate</h2>

        <!-- Login Form -->
        <form th:action="@{/setupPassword}" method="post" class="flex flex-col gap-4">
            <div>
                <label class="text-accent font-bold text-sm mb-1 block" for="password">Contraseña</label>
                <input id="password" name="password" type="password" placeholder="Ingresa tu contraseña"
                    class="w-full p-3 rounded-xl bg-background border border-[#23A3BB] text-textPrimary focus:outline-none focus:ring-2 focus:ring-[#23A3BB]"
                    required>
            </div>
            <div>
                <label class="text-accent font-bold text-sm mb-1 block" for="confirm">Contraseña</label>
                <input id="confirm" name="confirm" type="password" placeholder="Repite tu contraseña"
                    class="w-full p-3 rounded-xl bg-background border border-[#23A3BB] text-textPrimary focus:outline-none focus:ring-2 focus:ring-[#23A3BB]"
                    required>
            </div>

            <button type="submit"
                class="mt-4 button-accent  hover:bg-[#1C8FA1] text-textPrimary font-bold py-3 rounded-xl transition-colors duration-300">
                Iniciar sesión
            </button>
        </form>

        <!-- Optional error message -->
        <div th:if="${param.error}" class="mt-4 text-red-500 text-center text-sm">
            Las contraseñas no coinciden.
        </div>
    </div>

    <script th:src="@{/js/deleteFeature_openModal.js}" defer></script>
    <script th:src="@{/js/aos.js}" defer></script>
    <script th:src="@{/js/alpine.js}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init();
        });
    </script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>